* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
}

h1 {
    text-align: center;
}