* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contents{
    background: #fff;
    margin: 0.2rem;
    padding: 0.2rem;
    display: flex;
}

body {
    position: absolute;
    top:0;
    width: 100%;
    min-height:100%;
}

.login_panel {
    z-index: 10;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.1);
    position: absolute;
    top: 0; 
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
}

.login_content {
    width: 80%;
    height: 50%;
    background: #fff;
    margin: 0 auto;
    border-radius: 10px;
}

#close_panel {
    text-align: right;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
}

.login_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.makesend_logo img {
    margin: auto;
    margin-top: 1rem;
    display: block;
    width: 40%;
    max-width: 370px;
    max-height: 110px;
}

.delivery img {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 497px;
    max-height: 337;
}

.spinner {
    margin: 0 auto;
    margin-top: 10rem;
    flex: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    position:relative;
    transform: scale(3);
}

#spinner_loading {
    text-align: center;
    color: #ffc107;
}

.delivery {
    display: none;
    margin: 0 auto;
}

.order_details {
    display: flex;
    justify-content: space-around;
}

.order_details .card{
    width: 40%;
    cursor: pointer;
}
/* .card {
    animation-name: cards;
    animation-duration: 10s;
    animation-delay: 500ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes cards {
    0%   { transform: rotate(0deg); }
    20% { transform: rotate(-2deg); }
    23% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
} */

.card:hover {    
    animation-name: cards-hover;
    animation-duration: 5s;
    animation-delay: 500ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes cards-hover {
    0%   { transform: translateY(0); }
    2.5%  { transform: translateY(-5px); }
    5%  { transform: translateY(0px); }
    100% { transform: translateY(0); }
}

.order_details * {
    font-size: 1rem;
}

.card p {
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
}

.card-body {
    padding: 5px;
}

#collapse-btn {
    display: none;
    margin: 20px auto;
    width: 120px;
}

#driver-login {
    background: #ffc107;
    font-weight: bold;
    /* margin: 20px auto; */
    display: block;
    width: 100vw;
    height: 60px;
    position: absolute;
    bottom: 0;
    /* border-radius: 0; */
}

.address { 
    display: none;
}


@media (min-width:500px) and (max-width:767px) {
    .login_content {
        width: 60%;
    }

    #driver-login {
        position: static;
        width: 500px;
        margin: 0 auto;
        border-radius: 4px;
    }

    .login_button {
        margin: 40px auto;
    }
}

@media (min-width: 768px) {
    .login_content {
        width: 40%;
    }

    #driver-login {
        position: static;
        width: 500px;
        margin: 0 auto;
        border-radius: 4px;
    }

    .login_button {
        margin: 40px auto;
    }
}