* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contents{
    background: #fff;
    margin: 0.2rem;
    padding: 0.2rem;
}

.makesend_logo img {
    margin: auto;
    margin-top: 1rem;
    display: block;
    width: 40%;
}

.spinner {
    margin: 1rem auto;
    flex: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    position:relative;
}

#spinner_loading {
    text-align: center;
    color: #ffc107;
}

.delivery {
    display: none;
}

.order_details {
    display: flex;
    justify-content: space-around;
}

.order_details .card{
    width: 40%;
    cursor: pointer;
}

.card:hover {    
    animation-name: cards;
    animation-duration: 5s;
    animation-delay: 500ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes cards {
    0%   { transform: translateY(0); }
    2.5%  { transform: translateY(-5px); }
    5%  { transform: translateY(0px); }
    100% { transform: translateY(0); }
}

.order_details * {
    font-size: 1rem;
}

.delivery img {
    display: block;
    width: 80vw;
    margin: 0 auto;
}

.card p {
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
}

.card-body {
    padding: 5px;
}

#collapse-btn {
    display: none;
    margin: 20px auto;
    width: 120px;
}

#driver-login {
    background: #ffc107;
    font-weight: bold;
    margin: 20px auto;
    display: block;
    width: 120px;
}

.address { 
    display: none;
}