* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    background: rgb(204,204,204);    
    font: 9px "Roboto", "serif", "Georgia", "Times New Roman", "Times";
}

@page {
    margin: 0;
    size: auto;
    width: 10cm;
    height: 10cm;
}

@media print {          
    body{
        zoom: 95%;
        margin: auto;
    }
    
    .buttonDiv {
        display: none;
    }
}

.container {
    height: 9.5cm;
    width: 9.5cm;
    background: white;
    page-break-before: avoid;
    page-break-after: auto;
    padding: 0.5cm;
    margin: 0.5rem auto;
}

.content {
    border: 2px solid black;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template: 
        "sender mslogo"
        "sender serviceDate"
        "receiver tracking"
        "note extraService"
        "empty extraService"
    ;
}

.sender_info,
.receiver_info,
.note,
.empty,
.serviceDate,
.tracking,
.extraService
{
    padding: 3mm;
}

.sender_info {
    grid-area: sender;
}

.receiver_info {
    grid-area: receiver;
}

.makesend_logo {
    grid-area: mslogo;
}

.serviceDate {
    grid-area: serviceDate;
}

.tracking {
    grid-area: tracking;
}

.note {
    grid-area: note;
}

.empty {
    grid-area: empty;
}

.extraService {
    grid-area: extraService;
}

.makesend_logo p {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 3mm;
    font-family: 'Kanit', sans-serif;
}

.tracking {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.qr_code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#qr_code_img {
    margin: 10px auto;
}

#qr_code_img img {
    height: 100%;
    width: 100%;
    display: block;
}

.qr_code p {
    text-align: center;
}

.buttonDiv {
    margin: 1rem auto;
}

.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;
    margin: 0 auto;

    display: block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}