* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.freeze {
    pointer-events: none;
}

body {
    position: absolute;
    top:0;
    width: 100%;
    min-height:100%;
}

.container {
    display: none;
}

.contents{
    background: #fff;
    margin: 0.2rem;
    padding: 0.2rem;
    display: flex;    
}

.login_panel {
    z-index: 10;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.1);
    position: absolute;
    top: 0; 
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
}

.login_content {
    width: 80%;
    height: 50%;
    background: #fff;
    margin: 0 auto;
    border-radius: 10px;
}

#close_panel {
    text-align: right;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
}

.login_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.makesend_logo img {
    margin: auto;
    margin-top: 1rem;
    display: block;
    width: 40%;
    max-width: 370px;
    max-height: 110px;
    z-index: 500;
}

#delivery_image {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 497px;
    max-height: 337;

}

.spinner {
    margin: 0 auto;
    margin-top: 10rem;
    flex: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    position: relative;
    transform: scale(3);
}

#spinner_loading {
    text-align: center;
    color: #ffc107;
}


.card:hover {    
    animation-name: cards-hover;
    animation-duration: 5s;
    animation-delay: 500ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes cards-hover {
    0%   { transform: translateY(0); }
    2.5%  { transform: translateY(-5px); }
    5%  { transform: translateY(0px); }
    100% { transform: translateY(0); }
}

.card p {
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
}

.card-body {
    padding: 5px;
}

.delivery {
    display: block;
    margin: 0 auto;
    width: 100vw;
}

.size p {
    font-size: 1.6rem;
}

.temp, .express, .cod {
    display: flex;
}

.temp p, .express p, .cod p {
    width: 50%;
}

.order_details {
    display: flex;
    justify-content: space-around;
}

.order_details .card{
    width: 50%;
    cursor: pointer;
}


.order_details * {
    font-size: 1rem;
}

#sender p:first-child, #receiver p:first-child{
    font-size: 2rem;
}

#collapse-btn {
    display: none;
    margin: 20px auto;
    width: 120px;
}

.login_button {
    display: none;
    position: fixed;
    bottom: 0;
}

#driver-login {
    background: #ffc107;
    font-weight: bold;
    display: block;
    width: 100vw;
    height: 60px;
}

.address { 
    display: none;
}

/* After login */
.navigation {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin: 0 auto;
}

.btn_navi {
    display: block;
    background: grey;
    border: grey;
    color: white;
    border-radius: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.btn_navi p {
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.selected {
    background: #ffc107;
    border: orange;
    color: black;
}

#whitespace {
    width: 100%;
    height: 60px;
}

@media (min-width:500px) /* and (max-width:767px) */{
    .login_content {
        width: 60%;
    }

    .delivery {
        width: 100%;
    }

    .contents {
        width: 500px;
        margin: 0 auto;
    }

    #driver-login {        
        width: 500px;
        margin: 0 auto;
        border-radius: 4px;
    }

    .login_button {
        position: static;
        margin: 40px auto;
    }

    .navigation {
        position: static;
        margin: 40px auto;
        width: 500px;
    }

    #whitespace {
        display: none;
    }
}

@media (min-width: 768px) {
    .login_content {
        width: 40%;
    }
}