html {
    height: 100%;
  }
  
body {
    font-family: roboto;
    padding: 0 10px;
    height: 100%;
    background: black;
    margin: 0;
}

.wrapper {
    position: relative;
}

.wrapper nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapper nav button {
    display: block;
    height: 50px;
    border-radius: 0;
}

.selected {
    background: #f0ad4e;
}

.selected:hover {
    background: #f0ad4e;
}

h1, h2 {
    color: white;
    margin: 0;
    padding: 15px;
    text-align: center;
}

#qrcode_scanner {
    text-align: center;
    margin: 0;
    margin-top: 50px;
}

#qr-canvas {
    margin: auto;
    width: calc(100% - 20px);
    max-width: 400px;
}

#btn-scan-qr {
    cursor: pointer;
}

#btn-scan-qr img {
    height: 10em;
}

#qr-result {
    font-size: 1.2em;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    background-color: white;
}

#cancel-button {
    display: none;
}

#pod {
    display: none;
    margin-top: 50px;
}

#pod_options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

#pod_options button {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#photo_upload {
    display: none;
}

#photo_upload > div:first-child {
    width: 100%;
}

#photo_upload > div:first-child button {
    display: block;
    margin: 1rem auto;
}

#device_system {
    display: none;
    margin-top: 50px;
}

@media (min-width: 500px) {
    .wrapper nav {
        position: static;
        width: 700px;
        margin: 0 auto;
    }

    .container {
        max-width: 700px;
    }

    #qrcode_scanner, #pod, #device_system {
        margin: 0 auto;
        max-width: 700px;
    }
}